@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*Reset some default browser styles*/

body {                                              /*body styles*/
    margin: 25px;                                   /*page margin*/
    font-family: 'Roboto', sans-serif;              /*font style*/
    line-height: 1.6;                               /*each line height spacing*/
    background-color:antiquewhite;                /*background color*/
    color: #333;                                  /*text color*/
}

nav {
    background-color: #333;                       /*nav background color*/
    padding: 10px;                                  /*nav padding*/
    margin-bottom: 20px;                            /*nav bottom margin*/
    border-radius: 10px;                            /*nav border radius*/
}

nav a {                                             /*nav link styles*/
    color: white;                                 /*nav font link color*/
    text-decoration:none;                           /*nav font link decoration*/
    margin: 0 10px;                                 /*nav font link margin*/
}

nav a:hover {                                       /*nav link hover styles*/
    text-decoration: underline;                     /*nav font link hover decoration*/
}

.main-title {                                      /*main title styles*/
    font-size: 43px;                                 /*main title font size*/
    font-weight: bold;                              /*main title font weight*/
    text-shadow: #411919 1px 5px 20px;                     /*main title text shadow*/
    color: #840505;                                  /*main title color*/
    text-align: center;                            /*main title alignment*/
}

.sub-title {
    font-style: italic;                             /*sub title font style*/
    color:black;                                 /*sub title color*/
    text-align: center;                            /*sub title alignment*/
    margin-bottom: 30px;                           /*sub title bottom margin*/
}

.intro-heading {                                  /*intro heading styles*/
    font-size: 20px;                                 /*intro heading font size*/
    color: #000000;                                  /*intro heading color*/
    margin-top: 20px;                              /*intro heading top margin*/
    margin-bottom: 20px;                           /*intro heading bottom margin*/
    text-align: center;                            /*intro heading alignment*/
    padding: 10px;                                  /*intro heading padding*/
    background-color: rgb(220, 211, 211);                     /*intro heading background color*/
    border-radius: 35px;                            /*intro heading border radius*/
}

.flex-container {
    display: flex;                             /*flex container display*/
    justify-content: space-between;          /*flex container justify content*/
    align-items: stretch;                     /*flex container align items*/
    gap: 20px;                                 /*flex container gap*/
    margin-top: 20px 0;                    /*flex container top margin*/
}

.flex-item {
    flex:1 ;                                  /*flex item flex*/
    padding: 25px;                            /*flex item padding*/
    background-color: #f4f4f4;               /*flex item background color*/
    border-radius: 35px;                        /*flex item border radius*/
    display: flex;                             /*flex item display*/
    flex-direction: column;                  /*flex item flex direction*/
    justify-content:center;                  /*flex item justify content*/
    align-items: center;                     /*flex item align items*/
}

.image-box img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

table {
    width: 100%;                               /*table width*/
    border-collapse: collapse;                  /*table border collapse*/
    margin-top: 20px;                           /*table top margin*/
}

th, td {
    padding: 12px 16px;                     /*table cell padding*/
    text-align: left;                        /*table cell text align*/
    border-bottom: 1px solid #ccc;             /*table cell border bottom*/
}

th {
    background-color: #ddd;                       /*table header background color*/
    font-weight: bold;                              /*table header font weight*/
}

form {                                          /*form styles*/
    background: linear-gradient(to right, #e0f7fa, #ffffff); /*form background gradient*/
    box-shadow: #411919 1px 5px 30px;                     /*form box shadow*/
    padding: 15px;                              /*form padding*/
    border: 1px solid #ccc;                         /*form border*/
    border-radius: 10px;                        /*form border radius*/
    max-width: 50%;                          /*form max width*/
    margin: auto;                            /*form margin*/
    align-items: center;                     /*form align items*/
}

legend {
    font-weight: bold;                              /*legend font weight*/
}

label {
    font-weight: bold;                              /*input font weight*/
}

input, textarea, button {
    width: 90%;                                 /*input, textarea, button width*/
    padding: 10px;                              /*input, textarea, button padding*/
    margin-top: 5px;                           /*input, textarea, button top margin*/
    margin-bottom: 15px;                       /*input, textarea, button bottom margin*/
    border: 1px solid #ccc;                     /*input, textarea, button border*/
    border-radius: 5px;                        /*input, textarea, button border radius*/
    font-size: 16px;                           /*input, textarea, button font size*/
}

button {
    background-color: #2c3e50;                  /*button background color*/
    color: white;                               /*button text color*/
    border: none;                               /*button border*/
    cursor: pointer;                            /*button cursor*/
    transition: background-color 0.3s ease;   /*button transition*/
    width: 20%;                                 /*button width*/
    
}

.button-container {
    display: flex;                             /*button container display*/
    justify-content: center;                  /*button container justify content*/
}

@media (max-width: 768px) {                     /*responsive styles for screens smaller than 768px*/
    .flex-container {
        flex-direction: column;               /*flex container flex direction*/
        align-items: center;                 /*flex container align items*/
    }

.flex-item {
    width: 90%;                                  /*flex item width*/
    margin: 10px 0;                                /*flex item margin*/
}

.image-box {
    width: 100%;                                 /*image box width*/
    height: auto;                                /*image box height*/
}

nav a {
    display: inline-block;                          /*nav link display*/
    margin: 5px;                              /*nav link margin*/
}
}